name: Ultima Tentativa Trampo Certo
on: [workflow_dispatch, push]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup Node
        uses: actions/setup-node@v4
        with:
          node-version: 18

      - name: Install
        run: npm install --legacy-peer-deps

      - name: Build Web Version
        # Isso cria uma versão que você consegue ver funcionando imediatamente
        run: npx expo export --platform web

      - name: Upload Resultado
        uses: actions/upload-artifact@v4
        with:
          name: App-Pronto-Para-Uso
          path: dist/
